<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <h1>Routify ILOILO</h1>
    <h2>Log in </h2>
    <br>
    <a href="{{url_for('combo.landing_page')}}">BACK</a>


        <form action="{{ url_for('auth.login')}}" method = "POST" class=" login-form ">

            <label>Email:</label>
            <input type ="email" id="email_inp" name="email_inp" placeholder="email">
            <br></br>

            <label>Password:</label>
            <input type = "password" id="pass_id" name="pass_inp" placeholder="password">
            <br></br>

            <button type="submit" value="Login " >Log in</a></button>
            <br>
        </form>

        {%with message = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {%for category, message in messages %}
                    <div class = "alert alert -{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <p>Don't have an account? <a href="{{ url_for ('auth.register')}}"> Create account</a></p>



</body>
</html>     