 
 
 body {
    margin:0;
    font-family:"Poppins", sans-serif;
    background-color: #f8fbfb;
    color: #333;
 }
 
 .nav-container{
    background-color: #cce6e8;
    border-radius: 10px;
    padding: 15px 40px;
    margin: 20px auto;
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
 }

 .logo {
    font-size: 40px;
    font-weight: bold ;
    color: #0a3034;
 }
 
 .links {
    text-decoration: none;
    text-align:center ;
    margin-left:30px;
    font-weight:500;
    display: flex;
    gap: 100px;
}

.display{
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
    width:90%;
    margin: 40px auto;
    padding: 5px;
}

.display-text{
    flex: 2;
}

.display-text h2{
    font-size: 50px;
    color:#000000;
    margin-bottom: 5px;
    margin-left: 300px;
}

.display-text h1{
    font-size: 40px;
    color:#0097a7;;
    margin-top: 0px;
    margin-left: 300px;
}

.display-text p{
    font-size:16px;
    margin: 15px 0;
    color: #111;
    margin-left: 300px;
    justify-content: center;
}

.login-btn{
    background-color: #4db6ac; 
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease; 
    margin-left: 400px;
}

.login-btn:hover{
    background-color: #399b91;  
}

.image-container img{
    width: 1000px;
    height: auto;
    transition: tranform 0.3s ease;
    
}

.image-container{
    display: flex;
    flex: 1.5;
}

.about{
    background-color: #e6efef;
    border-radius: 12px;
    width: 80%;
    margin: 40px auto;
    padding: 25px;
    text-align: center;
    font-size: 15px;
    color: #333;
}
            
